<section class="column" id="main" style="height: 845px;">
  <div class="breadcrumbs_container">
    <div class="clear"></div>
  </div>
  <%= form_for [:admin, @article] do |f| %>
    <%#= render "shared/errors", object: @article %>
  <article class="module width_full">
    <header>
      <h3> <%= article_model(@article.id) %> </h3>
    </header>

    <div class="module_content">
      <div class="w740">
        <%= f.cktext_area :description, ckeditor: {language: 'zh_TW', height: "500"}, width: "740" %>
      </div>
      <div class="clear"></div>
    </div>

    <footer>
      <div class="submit_link">
        <input class="alt_btn" type="submit" value="修改">
        <input name="送出" type="submit" value="取消">
      </div>
    </footer>
  </article>
  <% end %>
  <div class="clear"></div>

  <div class="module_content"></div>
  <div class="clear"></div>
  <div class="spacer"></div>
</section>
