<aside>
  <menu>
    <h3>機場接送</h3>
    <li>
      <%= link_to "松山機場", welcome_pickupservicea_path %>
    </li>
    <li>
      <%= link_to "桃園機場", welcome_pickupserviceb_path %>
    </li>
    <li>
      <%= link_to "清泉崗機場", welcome_pickupservicec_path %>
    </li>
  </menu>
  <%= render "fside" %>
</aside>
