<div class="form">
  <form action="" method="post">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="left" colspan="2" height="60">
            <h3>標題：機場接送</h3>
          </td>
        </tr>
        <tr>
          <td align="left" width="11%">您的姓名&nbsp;</td>
          <td width="89%">
            <label for="textfield"></label>
            <input class="input" id="textfield" name="textfield" type="text"></td>
        </tr>
        <tr>
          <td align="left" height="40">您的性別</td>
          <td height="40">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="50"><input id="radio" name="radio" type="radio" value="radio">
                    <label for="radio">
                      男
                    </label>
                  </td>
                  <td><input id="radio2" name="radio" type="radio" value="radio">
                    女
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left">聯絡電話&nbsp;</td>
          <td><input class="input" id="textfield2" name="textfield2" type="text"></td>
        </tr>
        <tr>
          <td align="left" height="45">電子信箱&nbsp;</td>
          <td height="45"><input class="input" id="textfield3" name="textfield3" type="text"></td>
        </tr>
        <tr>
          <td align="left" height="70">留言訊息</td>
          <td height="70">
            <label for="textarea"></label>
            <textarea class="input" id="textarea" name="textarea" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td height="40" valign="bottom">&nbsp;</td>
          <td height="40" valign="bottom"><input class="button2" id="button2" name="button2" type="reset" value="重設表單"><input class="button" id="button" name="button" type="submit" value="送出表單">
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <p>&nbsp;</p>
  <p>注意事項說明：</p>
  <p>01.上馬租賃提供專業機場接送，準時、安全、服務親切，為企業服務理念。</p>
  <p>02.我們堅持安全為主，為每位乘客投保傷害意外保險，讓貴賓在往返接送過程有完善的保障。
  </p>
  <p>
    03.請盡量於用車前24小時預訂，以利安排接送時間及車輛。</p>
  <p>
    04.請詳閱
    <a href="Rent.htm">租車須知</a>，上述價格均未稅。
  </p>
  <p>05.有任何疑問，歡迎留言或來電洽詢 +886 4 25205556</p>
  <p>&nbsp;</p>
</div>
