<aside>
<%= render "map" %>
<%= render "fside" %>
</aside>


<artical>
<div class="path">
首頁/<mark>聯絡我們</mark></div>
<%= image_tag("contactus2.gif", width: "675", height: "140") %>
<artical>
<div class="path">
首頁/<mark>聯絡我們</mark></div>
<img src="img/contactus2.gif" width="675" height="140">
<div class="form">
  <form action="" method="post">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="80" colspan="2" align="left"><h3>標題：
          <label for="select"></label>
          <select class="slt" name="select" size="1" id="select">
            <option>機場接送</option>
            <option>接送服務</option>
            <option>旅遊包車</option>
            <option>結婚禮車</option>
            <option>長租、短租車</option>
            <option>新舊車買賣</option>
            <option>汽車保養</option>
            <option>旅遊諮詢</option>
            <option>住宿詢問</option><option>其他問題</option>
            </select>
          </h3></td>
        </tr>
      <tr>
        <td width="11%" align="left">您的姓名&nbsp;</td>
        <td width="89%"><label for="textfield2"></label>
          <input type="text" class="input" name="textfield" id="textfield2"></td>
        </tr>
      <tr>
        <td height="40" align="left">您的性別</td>
        <td height="40"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td width="50"><input type="radio" name="radio" id="radio" value="radio">
              <label for="radio"> 男 </label></td>
            <td><input type="radio" name="radio" id="radio2" value="radio">
              女 </td>
            </tr>
          </tbody></table></td>
        </tr>
      <tr>
        <td align="left">聯絡電話&nbsp;</td>
        <td><input type="text" class="input" name="textfield2" id="textfield"></td>
        </tr>
      <tr>
        <td height="45" align="left">電子信箱&nbsp;</td>
        <td height="45"><input type="text" class="input" name="textfield3" id="textfield3"></td>
        </tr>
      <tr>
        <td height="70" align="left">留言訊息</td>
        <td height="70"><label for="textarea"></label>
          <textarea name="textarea" rows="4" class="input" id="textarea"></textarea></td>
      </tr>
      <tr>
        <td height="40" valign="bottom">&nbsp;</td>
        <td height="40" valign="bottom"><input type="reset" class="button2" name="button2" id="button2" value="重設表單">
          <input class="button" type="submit" name="button" id="button" value="送出表單"></td>
      </tr>
      </tbody></table>
    </form>
  <p>&nbsp;</p>
  <p>注意事項說明：</p>
  <p>01.上馬租賃提供專業機場接送，準時、安全、服務親切，為企業服務理念。</p>
  <p>02.我們堅持安全為主，為每位乘客投保傷害意外保險，讓貴賓在往返接送過程有完善的保障。 </p>
  <p> 03.請盡量於用車前24小時預訂，以利安排接送時間及車輛。</p>
  <p> 04.請詳閱<a href="Rent.htm">租車須知</a>，上述價格均未稅。 </p>
  <p>05.有任何疑問，歡迎留言或來電洽詢 +886 4 25205556</p>

</div>
</artical>
