<%= render 'flyside' %>

<artical>
  <div class="path">
    首頁/機場接送/
    <mark>臺中清泉崗機場</mark>
  </div>
  <div class="pickup">
    <table width="100%" border="0" cellpadding="0" bgcolor="#eeeeee">
      <tbody>
        <tr>
          <td bgcolor="#FFFFFF">
            <table width="100%" align="center" cellpadding="5" cellspacing="1">
              <tbody>
                <tr>
                  <td width="110" height="60" align="center" bgcolor="#CCCCCC">
                    <h5>行程 ( 單程 )
                      <br> 清泉崗機場 </h5>
                  </td>
                  <td width="57" height="60" align="center" bgcolor="#CCCCCC">國產
                    <br> 四人座車
                  </td>
                  <td width="57" height="60" align="center" bgcolor="#CCCCCC">進&nbsp; 口
                    <br> 七人座
                  </td>
                  <td width="57" height="60" align="center" bgcolor="#CCCCCC">賓士系列
                    <br> 轎車
                  </td>
                  <td height="60" colspan="2" bgcolor="#CCCCCC">郊區加價</td>
                </tr>
                <tr>
                  <td align="center">台中市</td>
                  <td align="center">
                    <h5>1,200
                    </h5>
                  </td>
                  <td align="center">
                    <h5>1,500</h5>
                  </td>
                  <td align="center">
                    <h5>1,500</h5>
                  </td>
                  <td colspan="2">
                    <small>太平區、大里區、霧峰區、烏日區、和平區 加價200元</small>
                  </td>
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td align="center" bgcolor="#FDFBE3">彰化縣市</td>
                  <td align="center" bgcolor="#FDFBE3">
                    <h5>2,000</h5>
                  </td>
                  <td align="center" bgcolor="#FDFBE3">
                    <h5>2,400</h5>
                  </td>
                  <td align="center" bgcolor="#FDFBE3">
                    <h5>2,600</h5>
                  </td>
                  <td colspan="2" bgcolor="#FDFBE3">
                    <small>大城區、二水鄉 加價200元</small>
                  </td>
                </tr>
                <tr>
                  <td align="center">南投縣市</td>
                  <td align="center">
                    <h5>2,100</h5>
                  </td>
                  <td align="center">
                    <h5>2,400</h5>
                  </td>
                  <td align="center">
                    <h5>2,600</h5>
                  </td>
                  <td colspan="2">
                    <small>仁愛鄉、魚池鄉&nbsp; 加價200元 
                      <br> 信義鄉&nbsp; 加價300</small>
                  </td>
                </tr>
                <tr>
                  <td align="center" bgcolor="#FFCC33">送機/接機-待時費用</td>
                  <td align="center" bgcolor="#FFCC33">
                    <h5>400</h5>
                  </td>
                  <td align="center" bgcolor="#FFCC33">
                    <h5>500</h5>
                  </td>
                  <td align="center" bgcolor="#FFCC33">
                    <h5>600</h5>
                  </td>
                  <td colspan="2" bgcolor="#FFCC33">
                    <small>送機時間以訂車時間
                      <mark>超過20分鐘</mark>後加收車款待時費用
                      <br> 接機案件最長等候時間為飛機抵達後計算60分鐘，
                      <br> 若會
                      <mark>超過60分</mark>鐘請來電通知，亦會產生待時費用</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a name="contacts" id="contacts"></a>
  <%= render 'responses' %>
</artical>
