<%= render 'flyside' %>

<artical>
<div class="path">
  首頁/機場接送/
  <mark>臺北松山機場</mark>
</div>
<div class="pickup">
  <table bgcolor="#eeeeee" border="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td bgcolor="#FFFFFF">
          <table align="center" cellpadding="5" cellspacing="1" width="100%">
            <tbody>
              <tr>
                <td align="center" bgcolor="#CCCCCC" height="60" width="110">
                  <h5>行程 ( 單程 )<br>
                    臺北松山機場</h5>
                </td>
                <td align="center" bgcolor="#CCCCCC" height="60" width="57">國產<br>
                  四人座車</td>
                <td align="center" bgcolor="#CCCCCC" height="60" width="57">進&nbsp; 口<br>
                  七人座</td>
                <td align="center" bgcolor="#CCCCCC" height="60" width="57">賓士系列<br>
                  轎車</td>
                <td bgcolor="#CCCCCC" colspan="2" height="60">郊區加價</td>
              </tr>
              <tr>
                <td align="center">台北市/新北市</td>
                <td align="center">
                  <h5>700</h5>
                </td>
                <td align="center">
                  <h5>900&nbsp;</h5>
                </td>
                <td align="center">
                  <h5>1,100</h5>
                </td>
                <td colspan="2">
                  <small>三峽區/土城區/鶯歌區/林口區/淡水區/八里區/<br>
                    新店區華城路.安康路二.三段/仰德大道三段以上. &nbsp; 加價200元
                    <br>
                    三芝區/石碇區/金山區/萬里區/瑞芳區&nbsp; 加價400元
                  </small>
                </td>
              </tr>
              <tr bgcolor="#F6F6F6">
                <td align="center" bgcolor="#FDFBE3">桃園市</td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>1,200</h5>
                </td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>1,500</h5>
                </td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>1,800</h5>
                </td>
                <td bgcolor="#FDFBE3" colspan="2">
                  <small>新屋區/觀音區/楊梅區/大溪區/龍潭區 加價200元
                    <br>
                    桃園市復興區&nbsp; 加價500元
                  </small>
                </td>
              </tr>
              <tr>
                <td align="center">
                  新竹縣市</td>
                <td align="center">
                  <h5>2,200</h5>
                </td>
                <td align="center">
                  <h5>2,400</h5>
                </td>
                <td align="center">
                  <h5>2,600<br>
                    <br>
                  </h5>
                </td>
                <td colspan="2">
                  <small>
                    南寮區/北埔區/橫山區/峨嵋區/尖石區/<br>
                    五峰區/關西區/竹東區/尖石區&nbsp; 加價200元
                  </small>
                </td>
              </tr>
              <tr>
                <td align="center" bgcolor="#FDFBE3">栗縣市</td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>2,800
                  </h5>
                </td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>3,000</h5>
                </td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>3,200</h5>
                </td>
                <td bgcolor="#FDFBE3" colspan="2">
                  <small>獅潭區/卓蘭區/苑裡區/通宵區/泰安區/南庄區&nbsp; 加價200元
                  </small>
                </td>
              </tr>
              <tr>
                <td align="center">台中市</td>
                <td align="center">
                  <h5>3,000</h5>
                </td>
                <td align="center">
                  <h5>3,300</h5>
                </td>
                <td align="center">
                  <h5>3,800</h5>
                </td>
                <td colspan="2">
                  <small>和平區&nbsp; 加價1000元
                  </small>
                </td>
              </tr>
              <tr>
                <td align="center" bgcolor="#FDFBE3">宜蘭縣市</td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>1,900</h5>
                </td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>2,100</h5>
                </td>
                <td align="center" bgcolor="#FDFBE3">
                  <h5>2,500</h5>
                </td>
                <td bgcolor="#FDFBE3" colspan="2">
                  <small>蘇澳鎮&nbsp; 加價300元</small>
                </td>
              </tr>
              <tr>
                <td align="center">花蓮縣市</td>
                <td align="center">
                  <h5>6,000</h5>
                </td>
                <td align="center">
                  <h5>6,700</h5>
                </td>
                <td align="center">
                  <h5>7,500
                  </h5>
                </td>
                <td colspan="2">&nbsp;</td>
              </tr>

              <tr>
                <td align="center" bgcolor="#FFCC33">送機/接機-待時費用</td>
                <td align="center" bgcolor="#FFCC33">
                  <h5>400</h5>
                </td>
                <td align="center" bgcolor="#FFCC33">
                  <h5>500</h5>
                </td>
                <td align="center" bgcolor="#FFCC33">
                  <h5>600</h5>
                </td>
                <td bgcolor="#FFCC33" colspan="2">
                  <small>送機時間以訂車時間
                    <mark>超過20分鐘</mark>後加收車款待時費用
                    <br>
                    接機案件最長等候時間為飛機抵達後計算60分鐘，<br>
                    若會
                    <mark>超過60分</mark>鐘請來電通知，亦會產生待時費用</small>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<a id="contacts" name="contacts"></a>
<%= render 'responses' %>
</artical>
