<%= render 'flyside' %>

<artical>
<div class="path">
首頁/機場接送/<mark>桃園國際機場 </mark></div>
<div class="pickup">
  <table width="100%" border="0" cellpadding="0" bgcolor="#eeeeee">
    <tbody><tr>
      <td bgcolor="#FFFFFF"><table width="100%" align="center" cellpadding="5" cellspacing="1">
        <tbody><tr>
          <td width="110" height="60" align="center" bgcolor="#CCCCCC"><h5>行程 ( 單程 )<br>
            桃園國際機場 </h5></td>
          <td width="57" height="60" align="center" bgcolor="#CCCCCC">國產<br>
            四人座車</td>
          <td width="57" height="60" align="center" bgcolor="#CCCCCC">進&nbsp; 口<br>
            七人座</td>
          <td width="57" height="60" align="center" bgcolor="#CCCCCC">賓士系列<br>
            轎車</td>
          <td height="60" colspan="2" bgcolor="#CCCCCC">郊區加價</td>
        </tr>
        <tr>
          <td align="center">桃園縣市</td>
          <td align="center"><h5>1,000</h5></td>
          <td align="center"><h5>1,200</h5></td>
          <td align="center"><h5>1,400</h5></td>
          <td colspan="2">
            <small>新屋區/觀音區/楊梅區/大溪區/龍潭區&nbsp; 加價200元 <br>
              桃園市復興區&nbsp; 加價500元</small>
          </td>
        </tr>
        <tr>
          <td align="center" bgcolor="#FDFBE3">台北市/新北市</td>
          <td align="center" bgcolor="#FDFBE3"><h5>1,200
</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>1,500</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>1,800</h5></td>
          <td colspan="2" bgcolor="#FDFBE3"><small>文山區.南港區.加價100元<br>
            汐止區/淡水區/深坑區/新店區華城路.安康路二.三段/<br>
            仰德大道三段以上&nbsp; 加價200元&nbsp;&nbsp;&nbsp;&nbsp;<br>
            三芝區/石碇區/金山區/萬里區/瑞芳區&nbsp; 加價400元</small></td>
        </tr>
        <tr>
          <td align="center">基隆市</td>
          <td align="center"><h5>1,500</h5></td>
          <td align="center"><h5>1,800</h5></td>
          <td align="center"><h5>2,000</h5></td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" bgcolor="#FDFBE3">宜蘭縣市</td>
          <td align="center" bgcolor="#FDFBE3"><h5>2,200</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>2,500</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>2,800</h5></td>
          <td colspan="2" bgcolor="#FDFBE3"><small>蘇澳鎮&nbsp;&nbsp; 加價300元</small></td>
        </tr>
        <tr>
          <td align="center">花蓮縣市</td>
          <td align="center"><h5>6,500</h5></td>
          <td align="center"><h5>7,200</h5></td>
          <td align="center"><h5>8,000<br>
          </h5></td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" bgcolor="#FDFBE3">新竹縣市</td>
          <td align="center" bgcolor="#FDFBE3"><h5>1,700</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>1,900</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>2,100</h5></td>
          <td colspan="2" bgcolor="#FDFBE3"><small>南寮區/北埔區/橫山區/峨嵋區/尖石區<br>
            五峰區/關西區/竹東區/尖石區&nbsp; 加價200元</small></td>
        </tr>
        <tr>
          <td align="center">苗栗縣市</td>
          <td align="center"><h5>2,000</h5></td>
          <td align="center"><h5>2,200</h5></td>
          <td align="center"><h5>2,500</h5></td>
          <td colspan="2"><small>獅潭區/卓蘭區/苑裡區/通宵區<br>
            泰安區/南庄區&nbsp; 加價200元</small></td>
        </tr>
        <tr>
          <td align="center" bgcolor="#FDFBE3">台中市</td>
          <td align="center" bgcolor="#FDFBE3"><h5>2,200</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>2,500</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>3,000</h5></td>
          <td colspan="2" bgcolor="#FDFBE3"><small>和平區加價1000元</small></td>
        </tr>
        <tr>
          <td align="center">彰化縣市</td>
          <td align="center"><h5>3,000</h5></td>
          <td align="center"><h5>3,200</h5></td>
          <td align="center"><h5>3,800</h5></td>
          <td colspan="2"><small>大城區/芳苑區/二林區/福興區/田中區<br>
            二水區/線西區/鹿港區/伸港區&nbsp; 加價300元</small></td>
        </tr>
        <tr>
          <td align="center" bgcolor="#FDFBE3">南投市</td>
          <td align="center" bgcolor="#FDFBE3"><h5>3,300</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>3,500</h5></td>
          <td align="center" bgcolor="#FDFBE3"><h5>3,900</h5></td>
          <td colspan="2" bgcolor="#FDFBE3"><small>仁愛區/信義區/國姓/中寮/水里<br>
            魚池/鹿谷/集集&nbsp; 加價500元</small></td>
        </tr>
        <tr>
          <td align="center">雲林縣市</td>
          <td align="center"><h5>3,700</h5></td>
          <td align="center"><h5>3,900</h5></td>
          <td align="center"><h5>4,200</h5></td>
          <td colspan="2"><small>口湖區/四湖區/台西區/東勢區<br>
            水林區/麥寮區/崙背區&nbsp; 加價500元</small></td>
        </tr>
        <tr>
          <td align="center" bgcolor="#FFCC33">送機/接機-待時費用</td>
          <td align="center" bgcolor="#FFCC33"><h5>400</h5></td>
          <td align="center" bgcolor="#FFCC33"><h5>500</h5></td>
          <td align="center" bgcolor="#FFCC33"><h5>600</h5></td>
          <td colspan="2" bgcolor="#FFCC33"><small>送機時間以訂車時間<mark>超過20分鐘</mark>後加收車款待時費用 <br>
            接機案件最長等候時間為飛機抵達後計算60分鐘，<br>
            若會<mark>超過60分</mark>鐘請來電通知，亦會產生待時費用</small></td>
        </tr>
      </tbody></table></td>
    </tr>
  </tbody></table></div>
<a name="contacts" id="contacts"></a>
<%= render 'responses' %>
</artical>
