<aside>
  <menu>
    <h3>上馬旅遊趣</h3>
    <li><a href="tour01.htm">● 1日自由行</a></li>
    <li><a href="tour02.htm">● 2日自由行</a></li>
    <li><a href="tour03.htm">● 3日自由行</a></li>
    <li><a href="tour04.htm">● 4日自由行</a></li>
    <li><a href="tour05.htm">● 5日(以上)自由行</a></li>
    <li><a href="tour06.htm">● 主題住宿</a></li>
  </menu>
  <%= render "fside" %>
</aside>
