<section class="column" id="main" style="height: 753px;">

  <article class="module width_full">
    <header>
      <h3>歡迎光臨後臺管理系統</h3>
    </header>
    <div class="module_content">
      <h1>
        <br> 修改網站內容資訊請點選左側選單開始操作。
      </h1>
      <p>&nbsp;</p>
      <table width="760" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td>
              <a href="http://www.shangma.com.tw" target="_blank">
                <img src="img/Web.jpg" width="230" height="185">
              </a>
            </td>
            <td>
              <a href="http://www.google.com/intl/zh-TW/analytics/" target="_blank">
                <img src="img/Analytics.jpg" width="230" height="185">
              </a>
            </td>
            <td>
              <a href="http://www.shangma.com.tw" target="_blank">
                <img src="img/email.jpg" width="230" height="185">
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <h2>預覽網站</h2>
            </td>
            <td>
              <h2>Google 流量分析 </h2>
            </td>
            <td>
              <h2>收發企業信箱 </h2>
            </td>
          </tr>
          <tr>
            <td height="30"><a href="http://www.shangma.com.tw" target="_blank">www.shangma.com.tw/</a></td>
            <td height="30"><a href="http://www.google.com/intl/zh-TW/analytics/" target="_blank">www.google.com/intl/zh-TW/analytics</a></td>
            <td height="30"><a href="http://www.shangma.com.tw" target="_blank">www.shangma.com.tw/</a></td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td height="30">帳號：&nbsp; 密碼：</td>
            <td height="30">帳號：&nbsp; 密碼：</td>
          </tr>
        </tbody>
      </table>

      <h4>&nbsp;</h4>
      <h4>&nbsp;</h4>

      <h4>&nbsp;</h4>
    </div>
  </article>

  <div class="spacer"></div>
</section>
