<section class="mgTop">
  <div class="Instiute">
    <div class="InsBg">
      <a href="javascript:void(0);" id="next" class="InsLeft Fleft"></a>
      <div class="InsCenter Fleft">
        <ul>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img title="廣告小圖" alt="廣告小圖" src="img/adfooter.jpg" />
            </a>
          </li>
        </ul>
      </div>
      <a href="javascript:void(0);" id="prev" class="InsRight Fright"></a>
    </div>
  </div>
</section>

<footer>
  <section class="footer-bg">
    <p>&nbsp;</p>
    <p>上馬汽車租賃 &nbsp;&nbsp;&nbsp; Copyright 2012 ©上馬 SHANGMA 版權所有 All Rights Reserved </p>
    <p>信箱：info@shangma.com.tw &nbsp;&nbsp;&nbsp; LINE ID：shangma9292&nbsp;&nbsp;&nbsp;&nbsp; 緊急連絡電話：0910-478774 </p>
    <p>諮詢熱線：+886 4 25205556 (星期一AM09:00~星期日PM21:00) 傳真：+886 4 25205567 </p>
    <p>地址：豐原店 台中市豐原區圓環西路92號 / 卓蘭店 苗栗縣卓蘭鎮新厝45-3號 </p>
    <p>建議瀏覽器: IE6.0以上，Firefox，FLASH6.0 以上版本( 螢幕設定最佳顯示效果為1024*768 )
    </p>
    <p>&nbsp;</p>

    <!--增加關鍵字 -->
    <div class="keywords">
      <p>
        <a href="http://www.shangma.com.tw/">
          <strong>台中租車</strong>
        </a>
        <a href="http://www.shangma.com.tw/">
          <strong>旅館民宿</strong>
        </a>
        <a href="http://www.shangma.com.tw/">
          <strong>旅遊包車</strong>
        </a>
        <a href="http://www.shangma.com.tw/">
          <strong>台灣旅遊</strong>
        </a>
        <a href="http://www.shangma.com.tw/">
          <strong>機場接送</strong>
        </a>
        台中租車,旅館民宿,旅遊包車,台灣旅遊,機場接送-旅遊專家上馬汽車租賃提供長、短期出租，機場接送，旅遊包車，工商機關用車、新、舊車買賣，並搭配專業司機團隊和完善的旅遊保障，安全為主是我們的經營理念，任何汽車相關業務皆可洽詢上馬汽車。
      </p>
    </div>
    <!--增加關鍵字結束 -->

  </section>
</footer>
