<header id="header">
  <hgroup>
    <h1 class="site_title">
      <%= link_to "上馬汽車租賃(SHANGMA)", admin_intros_path %>
    </h1>
    <div class="btn_view_site">
      <a href="http://www.shangma.com.tw" target="_blank">★預覽網站</a>
    </div>
    <div class="btn_view_site">
      <a href="http://www.google.com/intl/zh-TW/analytics/" target="_blank">★查看流量</a>
    </div>
    <div class="btn_view_site">
      <a href="#" target="_blank">★收發企業信箱 </a>
    </div>
    <div class="btn_view_site">
      <%#= link_to "★帳號登出", logout_path %>
    </div>
  </hgroup>
</header>
