<header>
  <h1>
    <a href="index.htm">上馬汽車租賃</a>
  </h1>
  <div class="class1Tim12" id="FrRTim12">
    <span class="class1Tim12" id="FrTim12">
      <span class="class1Tim12" id="MaTim12"></span>
    </span>
  </div>
  <div class="info">
    <a href="Shangma.htm">關於我們</a>〡
    <%= link_to "租車須知", admin_article_path(id: 3) %>〡
    <%= link_to "交通資訊", admin_article_path(id: 2) %>〡
    <a href="Contacts.htm">聯絡我們</a>
  </div>
  <div class="share">
    <div class="googleTranslate" id="google_translate_element"></div>
    <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'zh-TW',
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>

    <div class="addthis_button">
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_line"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
      </div>
      <script src="//static.addtoany.com/menu/page.js" type="text/javascript"></script>
    </div>
  </div>
</header>

<nav>
  <div id="cssmenu">
    <ul>
      <li>
        <%= link_to "最新消息", messages_path %>
      </li>
      <li class="active">
        <a href="#">機場接送</a>
        <ul>
          <li>
            <a href="PickupService01.htm">松山機場</a>
          </li>
          <li>
            <a href="PickupService02.htm">桃園機場</a>
          </li>
          <li>
            <a href="PickupService03.htm">清泉崗機場</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="Business.htm">商務洽公</a>
      </li>
      <li>
        <a href="Chartered.htm">旅遊包車</a>
      </li>
      <li>
        <a href="Wedding.htm">結婚禮車</a>
      </li>
      <li class="active">
        <a href="javascript:;">長期租車</a>
        <ul>
          <li>
            <a href="CarA01.htm">轎車</a>
          </li>
          <li>
            <a href="#">商用車</a>
          </li>
          <li>
            <a href="#">休旅車</a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="javascript:;">短期租車</a>
        <ul>
          <li>
            <a href="CarB01.htm">轎車</a>
          </li>
          <li>
            <a href="#">商用車</a>
          </li>
          <li>
            <a href="#">休旅車</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="Sale.htm">新舊車買賣</a>
      </li>
      <li>
        <a href="Care.htm">汽車保養</a>
      </li>
      <li class="active">
        <a href="javascript:;">上馬旅遊趣</a>
        <ul>
          <li>
            <a href="tour01.htm">1日自由行</a>
          </li>
          <li>
            <a href="tour02.htm">2日自由行</a>
          </li>
          <li>
            <a href="tour03.htm">3日自由行</a>
          </li>
          <li>
            <a href="tour04.htm">4日自由行</a>
          </li>
          <li>
            <a href="tour05.htm">5日自由行</a>
          </li>
          <li>
            <a href="tour06.htm">主題住宿</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
