<aside class="column" id="sidebar">
  <p>功能選單</p>
  <h3>首頁</h3>
  <ul class="toggle">
    <li>
      <a href="banner.htm">大圖輪播</a>
    </li>
    <li>
      <a href="Ad.htm">頁腳廣告</a>
    </li>
    <li>
      <a href="News.htm">最新消息</a>
    </li>
  </ul>
  <h3>長租車</h3>
  <ul class="toggle">
    <li>
      <a href="CarA01.htm">轎車</a>
    </li>
    <li>
      <a href="CarA02.htm">貨車</a>
    </li>
    <li>
      <a href="CarA03.htm">休旅車</a>
    </li>
  </ul>
  <h3>短租車</h3>
  <ul class="toggle">
    <li>
      <a href="CarB01.htm">轎車</a>
    </li>
    <li>
      <a href="CarB02.htm">貨車</a>
    </li>
    <li>
      <a href="CarB03.htm">休旅車</a>
    </li>
  </ul>
  <h3>行程規劃</h3>
  <ul class="toggle">
    <li>
      <a href="tour01.htm">一日行程</a>
    </li>
    <li>
      <a href="tour02.htm">二日行程</a>
    </li>
    <li>
      <a href="tour03.htm">三日行程</a>
    </li>
    <li>
      <a href="tour04.htm">四日行程</a>
    </li>
    <li>
      <a href="tour05.htm">五日行程(以上)</a>
    </li>
    <li>
      <a href="tour06.htm">主題住宿</a>
    </li>
  </ul>
  <h3>廣告頁</h3>
  <ul class="toggle">
    <li>
      <a href="Info.htm">交通資訊</a>
    </li>
    <li>
      <a href="Rent.htm">租車須知</a>
    </li>
    <li>
      <a href="Chartered.htm">旅遊包車</a>
    </li>
    <li>
      <a href="Business.htm">商務洽公</a>
    </li>
    <li>
      <a href="Wedding.htm">結婚禮車</a>
    </li>
    <li>
      <a href="Sale.htm">新舊車買賣</a>
    </li>
    <li>
      <a href="Care.htm">汽車保養</a>
    </li>
  </ul>
  <footer>
    <p>
      <strong>Copyright © 2015 </strong>
    </p>
    <p>
      <strong> Website Admin
        <br>
      </strong>上馬汽車租賃</p>
    <p>&nbsp;</p>
  </footer>
</aside>
